<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% @pledges.each do |pledge| %>
  <p> <%= pledge.project.title %>, <%= pledge.amount %>, <%= pledge.reward.title %></p>
<% end %>

 Total Pledged: <%= @total_pledges %>





<% @projects.each do |project| %>
  <% project.title %>
    <% pledges = project.pledges.where(backer_id: current_user) %>
    Total Pledged for Project: <%= pledges.sum(:amount) %> 
  
<% end %>