<h1>Project</h1>

<%= render @project %>


<div class="rewards">
  <% @project.rewards.each do |reward| %>
    <p><%= reward.title %>, <%= reward.description %>, <%= reward.amount %></p>
    <div class="pledge-form">
    <%= form_for Pledge.new do |f| %>
      <%= f.hidden_field :project_id, value: reward.project_id %>
      <%= f.hidden_field :reward_id, value: reward.id %>
      <%= f.submit "Back this!" %>
    <% end %>
    </div>
    <div>
      <%#=link_to "Get this reward", new_project_pledge_path(@project.id), :reward_id => reward.id%>
    </div>
  <% end %>

</div>



